$background: #fef8f0;
.beranda {
  background-color: $background;
  cursor: default;
  .kartu-nomor {
    width: 45%;
    float: left;
    margin: 0 2.5%;
    border: 2px solid #132f3a;
    text-align: center;
    .nomor {
      border-bottom: 1px solid black;
      font-size: 4rem;
      background-color: inherit;
    }
  }

  .clearfix {
    clear: both;
    height: 1rem;
  }

  .estimasi {
    width: 95%;
    margin: 0 2.5%;
    border: 2px solid #132f3a;
    text-align: center;

    .nomor {
      border-bottom: 1px solid black;
      font-size: 1.5rem;
      background-color: inherit;
    }
  }

  .info {
    background-color: inherit;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem 0 0.5;
  }

  .tombol {
    width: 95%;
    margin: 0.75rem 2.5%;
    border: 2px solid #132f3a;
    text-align: center;
    cursor: pointer;
    .action {
      font-size: 1.5rem;
      background-color: inherit;
      color: white;
    }
  }
  .modal-button {
    margin: 1rem;
  }
}

.antrian {
  background-color: $background;
  .detailAntrian {
    width: 10%;
    margin: 1.25%;
    border: 2px solid #132f3a;
    text-align: center;
    .container {
      padding-bottom: 0;
      .nomor {
        font-size: 3rem;
        border-bottom: 1px solid black;
      }
      .info {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .right {
    float: right;
    cursor: pointer;
    * {
      font-size: 2rem;
    }
  }
}
