$background: #fef8f0;
$main: #132f3a;
.nav {
  background-color: $background;
  .menu {
    border-bottom: 1px solid $main;
    display: flex;
    justify-content: space-around;
    a,
    .link {
      text-decoration: none;
      color: $main;
    }
  }

  a.site-title {
    font-family: "Cormorant SC", serif;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: $main;
  }
}

@media only screen and (min-width: 0) {
  .menu {
    a,
    .link {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 900px) {
  .menu {
    a,
    .link {
      margin-top: 2rem;
    }
  }
}
