.header {
  align-content: center;
  margin: 0 auto 2rem auto !important;
  h2 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
  }
  h4 {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.25rem;
  }
}

.custom-btn {
  margin-top: 2rem;
}
